<div [@routerTransition]>
    <form #formHopDong="ngForm">
        <div class="m-content">
            <div class="m-portlet" m-portlet="true">
                <div class="m-portlet__head mb-5 position-sticky-head">
                    <div class="m-portlet__head-caption flex-custom ">
                        <button type="button" class="btn btn-primary" (click)="back()">Back</button>
                    </div>
                </div>
                <div class="m-portlet__body padding-lr15 padding-tb0">
                    <div class="card border-0">
                        <div class="card-header bg-white border-0">
                            <h5 class="mb-0 title-group-pannel">
                                <span class="btn  pl-0 pr-6  text-decoration-none font-weight-bolder btn-title-pannel">
                                    THÔNG TIN CHUNG
                                </span>
                            </h5>
                        </div>

                        <div id="panels0" class="collapse show">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>